body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    float: center;
    justify-content: space-between;
    align-items: center;
    background-color: #7c3b1a;
    padding: 20px;
}
header .encabezado h1 {
    color: #1d0808;
    font-family: "Rubik Puddles", system-ui;
    font-size: 48px; 
    margin: 0;

}
header .encabezado p {
    color: #1d0808;
    font-family: cursive;
    font-size: 20px; 
    margin: 0;
    align-self: start;
    justify-self: end;
}
header img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    margin-top: -100px; 
    margin-right: 10px;
    float: right;
} 


main {
    padding: 20px;
}
main img {
    width: 100%;
    height: auto;
}


td {
    width: 300px;
    padding-left: 5em;
}


footer {
    background-color: #7c3b1a;
    padding: 20px;
    text-align: center;
}
footer p {
    color: #111111;
    font-size: 18px;
    margin: 0;
}